#DigitalForcellini entryfree {
  display: block;
  margin-top: 1em;
}

#DigitalForcellini sense {
  display: block;
  margin-top: .5em;
  margin-left: 2em;
  position: relative;
}

#DigitalForcellini sense:before {
  content: attr(marker);
  position: absolute;
  left: -3em;
  width: 2.8em;
  text-align: right;
  color: red;
  font-weight: bold;
}

#DigitalForcellini hi[rend="bold"]   { font-weight: bold;  }
#DigitalForcellini hi[rend="italic"] { font-style: italic; }

#DigitalForcellini br {
  display: block;
  content: "";
  margin-top: 0.5em;
}

#DigitalForcellini span:lang(gr) { color: #780373; }

#DigitalForcellini span.lang {
  color: white;
  background: rgb(122, 142, 202);
  font-weight: bold;
  padding-left: .2em;
  padding-right: .2em;
}

#DigitalForcellini span.lang + hi[rend=italic] {
  font-style: normal !important;
  color: black;
  background-color: rgb(219, 224, 255);
}

